<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online rasadnik</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stilovi.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Demo</div>
<div class="demo-container">
    <h3>Demo sadrzaj</h3>
    <ul>
        <li>Kupite online</li>
        <li>Admin stranice</li>
        <li>Izvjestaji</li>
    </ul>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>